.head-logo {
  width: 100px;
  height: 100px;
}

.Header-box {
  

  background-color: rgb(73, 71, 71);
  opacity: 0.37;
  height: 100px;
  display: flex;

  justify-content: space-between;
}

.nav-items > ul {
  display: flex;
 
  gap: 10px;

  color: #ffdd40;

  list-style-type: none;

  padding: 15px 15px;

  ::after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: all 0.5s ease;
  }

  :hover::after {
    width: 100%;
    background-color: yellow;
  }
}

body {
  background-color: rgb(36, 27, 27);
}

.link {
  color: rgb(187, 205, 108);
  text-decoration: none;
  padding: 0.5rem;

  font-size: 18px;
}
/* @media only screen and (max-width : 768px){
ul{

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border-top: 1px solid #fff;
    position: absolute;
    top :80px;
    left: -110px;
    opacity: 1;
    transition: all 0.5s ease;

} */

.body > h1 {
  color: #8ca16a;
  margin: 0px;
  width: 400px;
  padding-left: 100px;
  font-weight: 900;
  font-size: 10rem;
}
.body-btn1 {
  padding-right: 151px;
  padding-left: 86px;
  padding-top: 10px;
  cursor: pointer;
  padding: 10px 65px;
  font-size: 1rem;
  background: transparent;
  color: #8ca16a;
  border: 1px solid #8ca16a;
  font-weight: 500;
  border-radius: 5px;
  position: relative;

  &:hover {
    background-color: rgb(98, 119, 56);
  }
}
@keyframes typingeffectAnimation {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}
.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
}
.loding-shim {
  text-align: center;
  position: relative;
}

.body-text {
  color: aquamarine;
  width: 1000px;
  position: relative;
}

.page-head {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px dotted rgb(72, 88, 49);
  margin: 0px 5px;
}

.page-head > div > h2 {
  text-transform: capitalize;
  font-size: 36px;
  font-weight: 900;
  color: #ffdd40;
  padding: 5px 2px;
  letter-spacing: 1.5px;
  line-height: 1rem;
}

.page-icon {
  padding-top: 20px;
}

.about-li {
  list-style-type: none;
}
.About_personal_info {
  display: flex;
  gap: 20px;
  padding: 20px;
  width: 100%;
}

.About_body{
    width: 65%;
}
.about_body_icon {
  width: 70%;
  padding-left: 250px;
    padding-bottom: 100px;
  
  
}

h3 {
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: 700;
  color: #ffdd40;
}

.personalinformationtext {
  padding-top: 20px;
}

p {
  color: white;
  font-size: 1.2rem;
  line-height: 1.65;
  padding-bottom: 20px;
  /* border-bottom: 1px dotted #ffdd40; */
}
.about-li {
  line-height: 1rem;
  margin-bottom: 15px;
}

.span-label,
.span-value {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;

  margin-right: 16px;
  padding-bottom: 1px;
  color: white;
}

.span-label {
  border-bottom: 1px solid yellow;
}

.about_body_icon_contents {
  width: 350px;
  height: 350px;
  background: radial-gradient(180px, yellow, transparent 90%);
  position: relative;
  border-radius: 50%;
  border: 1.5px solid yellow;
  animation: rotation 10s linear 1s infinite;

  div:nth-child(1) {
    position: absolute;
    top: -9%;
    left: 41%;
  }
  div:nth-child(2) {
    position: absolute;
    top: 26.5%;
    right: -8%;
  }

  div:nth-child(3) {
    position: absolute;
        bottom: 8%;
        left: 81%;
    
  }

  div:nth-child(4) {
    position: absolute;
    top: 25%;
    left: -7%;
  }
  
  div:nth-child(5) {
    position: absolute;
    top: 74%;
    left: 3%;
  }
}

.About_personal_info{

    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes rotation{

    100%{
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 768px){

    .AboutPage{
        flex-direction: column;
       
    }

    .About_personal_info{

        width: 100%;
       }
}

.SkillsPage{

  .skills-content-wrapper{
    display: flex;
    padding: 20px;
    gap:20px;
  

  .skill-content-wrapper-inner-content{

    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    .skills-content-wrapper-inner-content-categoy-text{

      display: inline-block;
      color: #ffdd40;
      font-size: 22px;
      font-weight: 700;
      line-height: 1rem;
      letter-spacing: 0.5px;
      position: relative;
      text-transform: uppercase;
      padding: 5px 10px;
      border: 2px solid yellow;
    }

    .skills-content-wrapper-inner-content-categoy-text ::before ,  .skills-content-wrapper-inner-content-categoy-text::after {
position: absolute;
content: '';
width: 2px;
height: 5px;
/* background-color: #ffdd40; */
bottom: -1px;
  }

  .skills-content-wrapper-inner-content-categoy-text ::before {
    left: 0;
  }

  .skills-content-wrapper-inner-content-categoy-text ::after {
    right:0
  }

  div{
    width: 100%;
  }

  .progressbar-wrapper{

    padding: 50px 0px 0px 0px;

    p{

      font-size: 1.6rem;
      margin: 0 0 0 10px;
      font-weight: 500;
      text-transform: uppercase;
      color: #ffffff;
    }
  }

}
}
}

@media only screen and (max-width: 768px){

  .skills-content-wrapper{
    flex-direction: column;
  }

}

.Experience-content{

  border: 1px dotted rgb(225, 255, 0);
  box-shadow: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


  width: 400px;

  height: fit-content;

  padding: 10px;
}

.Resume-content{

  margin-top: 20px;
  display: flex;

  gap: 10px;

  justify-content: space-between;
}

.Education-content1{

  border: 1px dotted yellow;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  width: 400px;

  height: fit-content;

  padding: 10px;

  margin: 10px;
}

.vl-Experience{

  border-left: 6px solid yellow;
  height: 700px;
}

.Experience{

  width: 100px;
    height: 120px;
    position: absolute;
    left: 215px;
    bottom: 396px;

}

.exp_header-text{

  text-align: center;
}

.vl-Education{

  border-left: 6px solid yellow;
  height: 700px;
  margin-left: 20%
}

.hr1{

  border: 0.5px solid yellow;
  width: 200px;
}

h4{

  font-size: 1.2rem;
  font-weight: 700;
  color: #ffdd40;

}

p{
  font-size: 1rem;
  color: white;
}

.hr2{

  border: 0.5px solid yellow;
  width: 150px;
}

.Education{



  position: relative;
  right: 198px;
  bottom: 35px
}

@keyframes slideIn{

  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}



.animate{

  animation: slideIn 1.5s ease-in-out;

  
}

.ContactMeContent-details{
width: 100%;
  display: flex;
 flex-wrap: wrap ;

 gap: 5px;

.Name{
border: 1px solid yellow ;
width:750px;
color: aliceblue;
height: 50px;
}

.Email{
  border: 1px solid yellow ;

width:750px;
height: 50px;


}

.Phone{
  border: 1px solid yellow ;


width:750px;
  height: 50px;

  margin-top: 10px;

}
}

.ContactMeContent-h3{

  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 700;
  color: #ffdd40;

  width: 145px;

  border-bottom:   1px solid #ffdd40;
  
}